body {
    color: #00D9C0;
    background: #030301;
}

#counter {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
