body {
    color: #00D9C0;
    background: #030301;
    overflow-x: hidden;
}

#counter {
    position: fixed;
    bottom: 5%;
    right: 5%;
}


#overlay {
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 99999;
}