<!DOCTYPE html>
<html>
<head>
	<title>Del</title>
	<link rel="stylesheet" href="./public/css/styles.css"/>
</head>
<body>
    <div class="notFooter">
    <div class="centered text-center animate fadeIn contain">
<h1>Del</h1>
<p>Send a self-destructing message</p>
<form action="/del" method="POST">
   <textarea type="text" name="mes" placeholder="Message to Del" autocomplete="off"></textarea>
   <br/>
    <button class="btn btn-outline">Del</button>
</form>
</div>
</div>
<footer id="footer" class="text-center">
        Made with <span id="heart" class="animate pulse">&#9825;</span> By <a href="http://kingpixil.github.io/Me" target="_blank">Kabir</a>
</footer>
</div>
<script src="./public/js/lib/paint.min.js"></script>
<script src="./public/js/scripts.js"></script>
</body>
</html>