<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lock &mdash; New</title>

    <link href="/css/new.css" rel="stylesheet" type="text/css" />
	<link href="/css/lib/wing.min.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="centered">
	    <h3>Your Lock is Ready.</h3>
	    <h5>Share the URL with someone.</h5>
	    <input type="text" onClick="this.setSelectionRange(0, this.value.length)" value="{{link}}" readonly/>
	</div>
</body>
</html>