body {
    color: #FFFFF3;
    background: #FF4365;
}

h1 {
    font-family: 'Montserrat';
    font-size: 7rem;
}

p {
    font-family: 'Quicksand';
    font-size: 2rem;
}

small a {
    font-family: 'Quicksand';
    text-decoration: none;
    color: #FFFFF3;
    transition: all .2s ease;
}

small a:hover {
    font-weight: bolder;
}