<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lock &mdash; Message</title>

    <link href="/css/template.css" rel="stylesheet" type="text/css" />
	<link href="/css/lib/wing.min.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<body>
	<div id="cover">
		<div class="centered text-center">
			
<svg width="161px" height="124px" viewBox="-1258 1392 161 124" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs></defs><polygon id="Path" stroke="#00D9C0" stroke-width="4" fill="none" points="-1226.6743 1415.17542 -1193.32019 1444.26681 -1176.00581 1401 -1172.66117 1437.91848 -1134.28815 1421.18435 -1154.37788 1454.07941 -1109.75977 1469.66478 -1154.37788 1469.66478 -1151.18026 1501.07248 -1181.42745 1474.27549 -1208.44183 1507.97133 -1201.97621 1473.00473 -1241.21178 1487.60008 -1217.38798 1459.45492 -1246 1442.01463 -1213.06583 1449.58366"></polygon></svg>
			<h1 id="messageDeleted">MESSAGE DELETED</h1>
		</div>
	</div>
	<div id="content">
		<h3 class="centered">{{message}}</h3>
		<h5 id="counter">5</h5>
	</div>
	<script type="text/javascript" src="/js/template.js"></script>
</body>
</html>